/*
 * @file  Terminal.css
 *
 * @filetype  Cascading Style Sheet
 * @author    Will Brandon
 * @created   July 23, 2023
 *
 * @description Styles for the a simulated Linux terminal.
 */

/* Include the Roboto Mono font from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

div.terminal-viewport
{
  display: block;
  height: 100%;
  overflow: scroll;
  font-size: 0px;
}

div.terminal
{
  display: block;
  min-width: calc(100% - 40px);
  min-height: calc(100% - 40px);
  padding: 20px;
  overflow: scroll;
  background-color: #212121;
  font-size: 0px;
}

div.terminal div.feed
{
  display: block;
  font-size: 0px;
}

div.terminal div.feed div.stream-item
{
  display: block;
  font-size: 0px;
}

div.terminal div.feed div.stream-item div.pane
{
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
}

div.terminal div.feed div.stream-item pre.line
{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  color: #d9d6d4;
}

div.terminal div.feed div.stream-item pre.line a
{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  color: #86cfff;
}

div.terminal div.feed div.stream-item pre.line pre
{
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
}

div.terminal div.feed div.stream-item pre.line pre.red
{
  color: #D63434;
}

div.terminal div.feed div.stream-item pre.line pre.green
{
  color: #6bb68f;
}

div.terminal div.feed div.stream-item pre.line pre.blue
{
  color: #67beff;
}

div.terminal div.feed div.stream-item pre.line pre.light-blue
{
  color: #86cfff;
}

div.terminal div.feed div.stream-item pre.line pre.violet
{
  color: #ca7ae5;
}

div.terminal div.feed div.stream-item pre.line pre.aqua
{
  color: #34d6b6;
}

div.terminal div.feed div.stream-item img.large
{
  display: inline-block;
  width: 200px;
  padding: 0px;
  margin: 0px;
}