/*
 * @file  Prompt.css
 *
 * @filetype  Cascading Style Sheet
 * @author    Will Brandon
 * @created   July 24, 2023
 *
 * @description Styles for the a Linux terminal prompt.
 */

div.terminal-prompt
{
  display: inline-block;
  white-space: nowrap;
}

div.terminal-prompt input[type=text]
{
  display: inline-block;
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
  font-family: 'Roboto Mono', sans-serif;
  color: #d9d6d4;
  overflow: hidden;
  caret-color: #d9d6d4;
  caret-shape: bar;
}
