@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

html {
	min-width: 750px;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(120deg, #FF0066 0%, #0A0AA2 100%);
	font-family: 'Open Sans', cursive;
	font-size: 20px;
	color: #FFFFFF;
	user-select: none;
	-webkit-user-select: none;
}

body {
	margin: 0px;
	overflow: scroll;
	text-align: center;
}

div.header-box {
	display: block;
	width: 600px;
	margin: 50px 50px 50px calc(50% - 300px);
}

h1 {
	display: block;
	height: 132px;
	padding: 22px 0px 0px;
	margin: 0px;
	background-color: #FFFFFF;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	font-size: 100px;
	color: #000000;
	mix-blend-mode: screen;
}

div.header-box span {
	display: block;
	padding: 20px;
	border-style: solid;
	border-top-style: none;
	border-width: 2px;
	border-color: #FFFFFF;
	text-align: left;
	font-family: 'Open Sans', cursive;
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
}

h2 {
	display: block;
	padding: 0px;
	margin: 30px;
	font-family: 'Open Sans', cursive;
	font-size: 30px;
	font-weight: bold;
	color: #FFFFFF;
}

button {
	display: inline-block;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 0px;
	border-radius: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #FFFFFF;
	background-color: transparent;
	text-align: center;
	font-family: 'Open Sans', cursive;
	font-size: 30px;
	color: #FFFFFF;
	cursor: pointer;
	transition: padding 0.2s, margin 0.2s, background-color 0.02s, filter 0.2s;
}

button:hover {
	padding: 25px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: -10px;
	filter: drop-shadow(0px 0px 10px #FFFFFF);
	transition: padding 0.2s, margin 0.2s, filter 0.2s;
}

button:active {
	background-color: #FFFFFF22;
	transition: background-color 0.02s, filter 0.02s;
}