@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
	display: block;
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	margin: 0px;
	background-color: #212121;
	cursor: text;
	user-select: text;
	-webkit-user-select: text;
}

div#terminal-container {
	display: block;
	height: 100%;
	overflow: scroll;
	user-select: all;
}

div#terminal-wrapper {
	display: block;
	padding: 20px;
}

img {
	display: inline-block;
	width: 200px;
	margin: 20px 0px 10px 0px;
}

div.image-detail {
	display: inline-block;
	width: calc(100% - 230px);
	padding: 0px 0px 0px 30px;
	margin: 20px 0px 10px 0px;
	vertical-align: top;
}

div.line {
	display: block;
	height: 22px;
	font-size: 0px;
}

div.line pre {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 18px;
	color: #d9d6d4;
}

div#current-line {
	display: block;
}

div.line pre span {
	padding: 0px;
}

div.line pre span.ansi-default {
	color: inherit;
}

div.line pre span.ansi-aqua {
	color: #34d6b6;
}

div.line pre span.ansi-blue {
	color: #67beff;
}

div.line pre span.ansi-light-blue {
	color: #86cfff;
}

div.line pre span.ansi-soft-blue {
	color: #abcfff;
}

div.line pre span.ansi-soft-grey {
	color: #a6a6a6;
}

div.line pre span.ansi-sage {
	color: #6bb68f;
}

div.line pre span.ansi-red {
	color: #D63434;
}

div.line pre span a {
	color: inherit;
}

input#shell-input {
	position: relative;
	display: inline-block;
	border: none;
	margin: 0px;
	padding: 0px;
	background-color: #00000000;
	outline: none;
	font-family: 'Roboto Mono', sans-serif;
	font-size: 18px;
	color: #d9d6d4;
	overflow: hidden;
	white-space: nowrap;
	position: fixed;
	caret-color: #d9d6d4;
	caret-shape: bar;
}

input#shell-input:focus {
	position: relative;
}