/*
 * App.css
 *
 * Type:    Cascading Style Sheet
 * Author:  Will Brandon
 * Created: July 21, 2023
 *
 * Provides styles for the main app React component.
 */

div.app
{
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-size: 0;
}
