/*
 * @file  App.css
 *
 * @filetype  Cascading Style Sheet
 * @author    Will Brandon
 * @created   July 23, 2023
 *
 * @description Styles for the main app component.
 */

div.app
{
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
