@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

div.window {
	position: fixed;
	display: inline-block;
	top: 10px;
	left: 10px;
	background-color: #FFFFFF;
	text-align: left;
	user-select: none;
	-webkit-user-select: none;
}

div.window div.content-container {
	display: block;
	width: 100%;
	height: calc(100% - 50px);
}
div.window div.content-container iframe {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin:  0px;
	border-style: none;
	overflow: scroll;
}

div.window-bar {
	display: block;
	height: 50px;
	min-width: 200px;
	text-align: center;
	background-color: #EEEEEE;
	font-size: 0px;
}
div.window-bar div.btns {
	position: absolute;
	margin-top: 19px;
}
div.window-bar div.btns button {
	display: inline-block;
	width: 12px;
	height: 12px;
	padding: 0px;
	margin-left: 10px;
	border-radius: 8px;
	border-style: none;
	border-width: 0px;
	cursor: pointer;
}
div.window-bar div.btns button.ext-btn {
	background-color: #FF4444;
}
div.window-bar div.btns button.ext-btn:active {
	background-color: #EE3333;
}
div.window-bar div.btns button.min-btn {
	background-color: #FFDD00;
}
div.window-bar div.btns button.min-btn:active {
	background-color: #EECC00;
}
div.window-bar div.btns button.exp-btn {
	background-color: #55FF66;
}
div.window div.bar div.btns button.exp-btn:active {
	background-color: #44EE55;
}
div.window-bar span.title {
	display: inline-block;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #000000;
}

div.fullscreen-panel {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	top: 0px;
	left: 0px;
	border-style: none;
	background-color: #FFFFFF;
}

div.fullscreen-panel div.content-container {
	displau: block;
	width: 100%;
	height: calc(100% - 50px);
}

div.fullscreen-panel div.content-container iframe {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	border-style: none;
	overflow: scroll;
}